:root {
  --padding-var:10px;
  --margin-var:10px;
  --colour-accent: #820700;
  --colour-hover: rgba(130, 7, 0, 50%);
  --border-radius-var: 50px;
  --form-border-radius-var: 20px;
}

* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

a {
  color: var(--colour-accent);
  font-size: .8em;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
  background-color: rgba(215, 215, 215, 0.85);
}

.name {
  padding: var(--padding-var);
  margin:var(--margin-var);
  font-size: 2em;
  text-align: center;
  display: inline-flex;
  align-items: center;
}

.name img {
  max-width: 100px;
  padding: var(--padding-var);
  border-radius: var(--border-radius-var);
}

nav {
  text-decoration: none;
  padding: var(--padding-var);
  margin:var(--margin-var);
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

nav ul li {
  padding: var(--padding-var);
  text-align: center;
}

nav ul li a {
  text-decoration: none;
}

article {
  display: flex;
  flex-direction: row;
  align-items:center;
  padding:var(--padding-var);
  margin: var(--margin-var);
}

aside {
  
  min-width:15vw;
  text-align: end;
  padding:var(--padding-var);
  margin: var(--margin-var);
}

article .content {
  padding:var(--padding-var);
  margin: var(--margin-var);
  border-left: var(--colour-accent) solid 3px;
  border-right: var(--colour-accent) solid 3px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.work {
  margin: var(--margin-var);
  position: relative;
  width: 30%;
  border: var(--colour-accent) solid 2px;
}

.work img {
  width: 100%; 
}

.work .label {
  background-color: var(--colour-accent);
  color: #ffffff;
  text-align: start;
  max-width: 20vw;
  position: absolute;
  bottom: 1em;
  padding: var(--padding-var);
  z-index: 10;
}

.work .label p {
  font-size: .618em;
  padding-top: var(--padding-var);
}

.work a:hover {
  background-color: var(--colour-hover);
  padding: 6.18px 10px 6.18px 10px;
  display: block;
  transition: all 0.5s ease 0s;
}

.first {
  width: 100%;
}

footer {
  background-color: #58473f;
  padding:var(--padding-var);
  color: #ffffff;
  height: 10vh;
}



.contact {
  display: flex;
  flex-direction: column;
  min-width: 45%;
  align-items: center;
  margin:var(--margin-var);
  padding: var(--padding-var;)
}

form input {
  padding: var(--padding-var);
  margin: var(--margin-var);
  border-radius: var(--form-border-radius-var);
  border: 2px solid  rgba(215, 215, 215, 0.85);
  width: 100%;
}

form input {
  outline: none;
  border: 1.2px solid #b9C6ae;
}

form input:placeholder-shown {
  border: 2px dashed  rgba(215, 215, 215, 1);
}

form textarea {
  padding: var(--padding-var);
  margin: var(--margin-var);
  border-radius: var(--form-border-radius-var);
  border: 2px solid  rgba(215, 215, 215, 0.85);
  width: 100%;
}

form textarea {
  outline: none;
  border: 1.2px solid #b9C6ae;
  border-radius: 20px;
}

form textarea:placeholder-shown {
  border: 2px dashed  rgba(215, 215, 215, 1);
}

form .button {
  padding: var(--padding-var);
  margin: var(--margin-var);
  border-radius: var(--border-radius-var);
  border: 2px solid  var(--colour-accent);
  background-color: var(--colour-accent);
  color: #ffffff; 
}

form .button:hover {
  border: 2px solid  var(--colour-accent);
  color: var(--colour-accent);
  background-color: #ffffff; 
}


.contact img {
  max-width: 150px;
}

footer p {
  font-size: .5em;
}

@media screen and (max-width: 992px) {
  .work {
    width: 45%;
  }

  .first {
    width:100%
  }

  .work .label {
    max-width: 100vw;
  }

  .contact {
    min-width: 100%;
  }
  
 .images {
    flex-direction: row;
    justify-content: space-evenly;
  }

}

@media screen and (max-width: 768px) {
  .header {
    justify-content: center;
  }

  .name {
    flex-direction: column;
  }

  .name img {
    max-width: 100vw;
  }
  nav ul {
    flex-direction: column;
  }

  article {
    flex-direction: column;
  }

  aside {
    width: 100vw;
    text-align: start;
  }
  article .content {
    border-top: var(--colour-accent) solid 3px;
    border-bottom: var(--colour-accent) solid 3px;
    border-left: none;
    border-right:none;
  }

  .work {
    width: 100%;
  }

  .images {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

/*
@media screen and (max-width: 576px) {
  header {
    background-color: green;
  }
  .header{
    justify-content: center;
  }
}*/